
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let theRecipe of recipes">
      <div class="float-left">
        <h4 class="list-group-item-heading">{{theRecipe.name}}</h4>
        <p class="list-group-item-text">{{theRecipe.description}} </p>
      </div>
      <span class="float-right">
        <img [src]="theRecipe.imagePath" [alt]="theRecipe.name" class="img-responsive" style="max-height: 80px; margin-left: 1em;">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>

