<div class="row">
    <div class="col-xl-12">
        <form>
            <div class="row">
                <div class="col-sm-7 form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name">
                </div>

                <div class="col-sm-3 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" id="amount">
                </div>

                <div class="col-sm-12 form-group">
                    <button type="submit" class="btn btn-success m-1">Add</button>
                    <button type="button" class="btn btn-danger m-1">Delete</button>
                    <button type="reset" class="btn btn-primary m-1">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>